{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Banner -->
     <section id="banner" style="height: 250px;padding-top:100px!important;">
        <h2 style="margin-top: 50px;">Logout</h2>
    </section>

<!-- Two -->
    <section id="one" class="wrapper style2">
        <div class="container" style="min-height:400px;">
            <div class="row">
                <div class="2u">&nbsp;</div>
                <div class="8u">
                     <p>
                         You have been successfully logout!
                     </p>
                </div>
                <div class="2u">&nbsp;</div>
            </div>
        </div>
    </section>
{% endblock %}