{% load  static %}
<!-- Header -->
<header id="header">
    <h1><a href="/">SafeSync Storage- Encrypted Data Synchronization on Cloud</a></h1>
    <nav id="nav">
        {% if user.is_authenticated %}
           <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact/">Contact Us</a></li>
                <li><a href="/profile">My Account</a></li>
                <li><a href="/password">Change Password</a></li>
                <li><a href="/filelist/">Upload File</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        {% else %}
             <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/contact">Contact Us</a></li>
                <li><a href="/register/">Register</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/admin" target="_blank">Admin Login</a></li>
            </ul>
        {% endif %}
    </nav>
</header>